@using StreamPowered.Web.Models.Game
@model CreateGameBindingModel
           
<h2>Add new game</h2>
@using (Html.BeginForm("AddGame", "Games", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.EditorForModel()
      
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Add" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", "Home", new { @class = "btn btn-default" }, null)
        </div>
    </div>
}

